@import "./sass-utils/variables";

//Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

//Custom code 
@import "./base/tipography";
@import "./layout/navigation";
@import "./components/buttons";
@import "./components/cards";
@import "./components/accordion";
@import "./pages/backgrounds";