@import "sass-utils/variables";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.nav-border {
    position: relative;
    bottom: 0;
    left: 0;
}

.main-nav {
    @extend .nav;
    @extend .justify-content-evenly;
    @extend .w-100;
}

.custom-card {
    @extend .card;
    @extend .align-items-center;
    @extend .border-light;
    @extend .m-3;
}