.nav-border {
    position: relative;
    bottom: 0;
    left: 0;
}

.nav-link:hover{
    color:$secondary !important;
} 

#nav-bar-bottom .nav-link {
    color: white;
}

#nav-simple-bookmarking-tab,
#nav-speedy-searching-tab,
#nav-easy-sharing-tab {
    border: none;
    color:$body-secondary-color;
    &.active,:active {
        color: $black;
        border-bottom: $secondary solid 3px !important;
    }

    &:hover {
        color: $secondary;
    }

}