#logo-bookmark {
    filter: invert(0.3);
}

.social-media-icon:hover {
    background: $secondary;
}

.background-figure {
    background-color: $primary;
    position: absolute;
    width: 72%;
    height: 72%;
    z-index: -1;
    top: 32%;
    left: 32%;
    border-radius: 0 0 0 40%;
    @media (max-width: 576px) {
        width: 65%;
      }
}

.background-figure-flipped {
    background-color: $primary;
    position: absolute;
    width: 90%;
    height: 100%;
    z-index: -1;
    top: 32%;
    left: -20%;
    border-radius: 0 0 0 40%;
    transform: scaleX(-1);
}