.nav-border {
    position: relative;
    bottom: 0;
    left: 0;
}

.main-nav {
    @extend .nav;
    @extend .justify-content-evenly;
    @extend .w-100;
}

.custom-nav-link {
    @extend .nav-link;
    @extend .border-0;
    @extend .border-bottom;
    @extend .text-muted;
}
.custom-nav-link.active, .custom-nav-link:active {
    @extend .border-2;
    @extend .border-bottom;
    @extend .border-danger;
    @extend .text-reset;
}
