$primary: #5265E1;
$secondary: #FA5959;
//accordions
$accordion-button-icon: url("../../images/icon-arrow.svg");
$accordion-button-active-icon: url("../../images/icon-arrow-active.svg");
//forms
$form-feedback-icon-invalid: url("../../images/icon-error.svg");
$form-invalid-color: white;